<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P06Zawodnicy.Shared.Properties.Settings.BazaSportowaConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=BazaSportowa;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>